body{
    font-family: Arial, Helvetica, sans-serif;
  
}

.logo{
    cursor: pointer;
    width: 100px;
    height: auto;
    padding-left: 10px;
}
.image{
    margin-top: 0px;
    padding-bottom: 50px;
}

.image img{
    width: 100%;
    height: 450px;
}

.head{
    width: 100%;
    height: 100px;
    margin: 0px;
    text-align: center;
    padding-bottom: 200px;
    background-color: rgb(235, 234, 234);
}
.head h1{
    font-weight: bold;
}
.head ul{
    list-style: none;
}
.head ul li{
    display: inline-block;
    padding-left: 25px;
}
.head ul li:hover{
    color:rgb(0, 213, 209);
}
.textcontent{
    text-align: center;
}
.textcontent p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.row{
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.col-sm-3{
    width: 300px;
    height: 200px;
    padding-left: 100px;
}
.col-sm-3:hover {
    outline: 0;
    transform: scale(1.15);
    transition: all ease 0.5s;
    border-radius: 10px;
}
.col-sm-3 a{
   color: black;
   text-decoration: none;
   font-weight: 30px;
}
.col-sm-3 a:hover{
    color: tomato;
}
.img{
    width: 200px;
    height: 150px;
}

.button{
    text-align: center;
    padding-top: 50px;
}
.btn1{
    width: 150px;
    height: 50px;
    background-color: rgb(84, 84, 84);  
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 5px;
    border: 0px;
    margin-left: 20px;
}
.btn1:hover{
    background-color: tomato;
    color: #fcf9f9;

}
.lienket{
text-decoration: none;
color: black;
}
#img1{
  padding-top: 20px; 
  padding-bottom: 40px;
}
.img1 img{
  padding-left: 100px;
  width: 1200px;
  height:360px;
}

#wrapper{
    max-width: 1170px;
    margin: auto;
}
h4{
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid;
    display: inline-block;
    border-color: #858586;
    font-weight: 600;
  
}

ul.sanpham{
    padding-top: 40px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
ul.sanpham li{
    flex-basis: 25%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
ul.sanpham li img{
    max-width: 100%;
    height: auto;
}


ul.sanpham li .sanpham-top a.mua-ngay{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: rgb(0, 113, 212);
    color: white;
    padding: 10px 0px;
    width: 100%;
}
ul.sanpham li .sanpham-top a.mua-ngay:hover{
    background-color: tomato;
}

ul.sanpham li .sanpham-info{
    padding: 10px 0px;
}
ul.sanpham li .sanpham-info a{
    display: block;
    text-decoration: none;
}
ul.sanpham li .sanpham-info a.sanpham-cat{
    font-size: 11px;
    text-transform: uppercase;
    color: #858586;
    padding: 5px 0px;
}
ul.sanpham li .sanpham-info a.sanpham-name{
    color: rgb(3, 3, 122);
    padding: 5px 0px;
    font-weight: 1500;
    height: 60px;
    font-size: 30px;
}
ul.sanpham li .sanpham-info a.sanpham-name:hover{
  color:rgb(176, 97, 1);
}
ul.sanpham li .sanpham-info .sanpham-gia{
    color: tomato;
    font-weight: 600;
    padding-top: 10px;
    text-align: left;
    font-size: larger;
    display: flex;
    
}
ul.sanpham li .sanpham-info .sanpham-gia p{
  text-decoration: line-through;
  color: black;
  font-size: 15px;
  padding-top: 5px;
  padding-left: 10px;
}
ul.sanpham li .sanpham-info .sanpham-gia p i{
  padding-left: 100px;
  font-size: 18px;
}
ul.sanpham li .sanpham-info .sanpham-gia p i:hover{
  color: tomato;
}




.row1{
    float: left;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(232, 232, 232);
    font-family: sans-serif;
}
.boxcenter{
    width: 100%;
    margin: 0 auto;
}
.boxcenter ul{
    list-style: none;
    text-align: left;
    padding-left: 0px;
}
.boxfooter2 a{
  text-decoration: none; 
  color: black;
}
.boxfooter2 a:hover{
  color: tomato;
}
.boxfooter1{
    width: 30%;
    padding-left: 20px;
    float:left;
    list-style: none;
}
.boxfooter2{
    width: 20%;
    float: left;
    padding-left: 20px;
}
ul.boxfooter{
    width: 100%;
    padding-left: 0px;
}
.boxfooter3{
    width: 25%;
    float: left;
    padding-left: 20px;
}
.boxfooter3 a{
  text-decoration: none; 
  color: black;
}
.boxfooter3 a:hover{
  color: tomato;
}
.boxfooter4{
    width: 25%;
    float: left;
    padding-left: 20px;
}

.textcenter{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 0px;
}
.socials-list a{
    padding-right: 5px ;
}



@media (max-width: 574px) {
  .row1{
      float: left;
      width: 100%;
      margin-bottom: 0px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: rgb(232, 232, 232);
      font-family: sans-serif;
  }
  .boxcenter{
      width: 100%;
      margin: 0 auto;
  }
  .boxcenter ul{
      list-style: none;
      text-align: left;
      padding-left: 0px;
  }
  .boxfooter2 a{
    text-decoration: none; 
    color: black;
  }
  .boxfooter2 a:hover{
    color: tomato;
  }
  .boxfooter1{
      width: 100%;
      padding-left: 20px;
      padding-bottom:20px ;
      float:left;
      list-style: none;
  }
  .boxfooter2{
      width: 100%;
      float: left;
      padding-left: 20px;
  }
  ul.boxfooter{
      width: 100%;
      padding-left: 0px;
  }
  .boxfooter3{
      width: 100%;
      float: left;
      padding-left: 20px;
  }
  .boxfooter3 a{
    text-decoration: none; 
    color: black;
  }
  .boxfooter3 a:hover{
    color: tomato;
  }
  .boxfooter4{
      width: 100%;
      float: left;
      padding-left: 20px;
  }
  .textcenter{
      text-align: center;
      background-color: rgb(255, 255, 255);
      padding-bottom: 0px;
  }
  .socials-list a{
      padding-right: 5px ;
  }

}

  @media (min-width: 574px) and (max-width:800px) {
    .row1{
        float: left;
        width: 100%;
        margin-bottom: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(232, 232, 232);
        font-family: sans-serif;
    }
    .boxcenter{
        width: 100%;
        margin: 0 auto;
    }
    .boxcenter ul{
        list-style: none;
        text-align: left;
        padding-left: 0px;
    }
    .boxfooter2 a{
      text-decoration: none; 
      color: black;
    }
    .boxfooter2 a:hover{
      color: tomato;
    }
    .boxfooter1{
        width: 100%;
        padding-left: 20px;
        padding-bottom:20px ;
        float:left;
        list-style: none;
    }
    .boxfooter2{
        width: 100%;
        float: left;
        padding-left: 20px;
    }
    ul.boxfooter{
        width: 100%;
        padding-left: 0px;
    }
    .boxfooter3{
        width: 100%;
        float: left;
        padding-left: 20px;
    }
    .boxfooter3 a{
      text-decoration: none; 
      color: black;
    }
    .boxfooter3 a:hover{
      color: tomato;
    }
    .boxfooter4{
        width: 100%;
        float: left;
        padding-left: 20px;
    }
    .textcenter{
        text-align: center;
        background-color: rgb(255, 255, 255);
        padding-bottom: 0px;
    }
    .socials-list a{
        padding-right: 5px ;
    }

  }



#backtop{
    width: 50px;
    height: 50px;
    background-color:#00a396;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position:fixed; /* cố định nút trên màn hình*/
    bottom: 40px;
    right: 20px;
    cursor: pointer;
}
#backtop:hover{
  background-color:tomato;
  transition: all 0.2s;
}





/*-------------------------------------
	     Liên Hệ
--------------------------------------*/
#page-banner-area {
	
	background-position: 50% 50%;
	background-size: cover;
  }
  
  .page-banner {
	background-image: url(../anh6.jpg) ;
	min-height: 200px;
	color: #fff;
  }
  
  
  .page-banner .page-banner-title {
	position: relative;
	padding: 68px;
  }
  
  .page-banner .page-banner-title h2 {
	margin: 0 0 15px;
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
  }
  
  .page-banner a {
	color: #fff;
	font-size: 14px;
  }
  
  .page-banner a:hover {
	color: #0dcdbd;
  }
  
  .page-banner .crumbs-spacer i {
	vertical-align: middle;
	font-size: 12px;
	margin: 5px;
  }
  
  .page-banner .current {
	color: #fff;
  }
  
  .pagination-container {
	display: inline-block;
	margin-top: 10px;
  }
  
  .pagination-container .pagination .page-item .page-link {
	margin: 0 10px;
	padding: 15px 20px;
	color: #0dcdbd;
	border-color: #f3f3f3;
	border-radius: 4px;
	background: #fff;
  }
  
  .pagination-container .pagination .page-item .page-link:hover {
	background: #0dcdbd;
	box-shadow: none;
	color: #fff;
  }
  
  .pagination-container .pagination .page-item .page-link:focus {
	box-shadow: none;
  }

  .section-padding {
	padding: 60px 0;
  }
  
  .no-padding {
	padding: 0 !important;
  }
  
  .padding-left-none {
	padding-left: 0;
  }
  
  .padding-right-none {
	padding-right: 0;
  }
  
  #contact-section h2 {
	color: #272727;
	font-size: 30px;
	margin-bottom: 26px;
  }
  
  .contact-right-area .contact-right {
	padding: 4px;
  }
  
  .contact-right-area .contact-right .single-contact {
	margin: 20px 0px;
	padding: 3px 55px;
	position: relative;
	color: #888;
  }
  
  .contact-right-area .contact-right .single-contact p {
	margin-bottom: 5px;
  }
  
  .contact-right-area .contact-right .single-contact p a {
	color: #888;
  }
  
  .contact-right-area .contact-right .contact-icon {
	background: #0dcdbd;
	color: #fff;
	border-radius: 4px;
	font-size: 20px;
	height: 40px;
	left: 0;
	padding-top: 8px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 40px;
  }  
   #subscribe-form .form-group .btn-common {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px;
	border-radius: 0;
	border-left: 1px solid #f3f3f3;
	background: transparent;
	color: #0dcdbd;
  }
  .btn-common {
	background-color: #0dcdbd;
	position: relative;
	z-index: 1;
	color: #fff;
  }
  
  .btn-common:hover {
	color: #fff;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  
  .btn-common::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
  }
  
  .btn-common:hover::before {
	opacity: 0;
	transform: scale(0.5, 0.5);
  }




  .banner1{
    width: 100%;
    height: 300px;
    background-image:linear-gradient(0, rgba(3, 3, 3, 0.4),rgba(0, 0, 0, 0.136)),
     url(https://hanoievents.vn/wp-content/uploads/2018/05/lien-he-voi-hanoievent-1200x400.jpg);
  }
  .text{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 120px;
  }
  


  